body {
  background: #ffffcd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  margin: 10px;
}

form fieldset {
  border: none;
  margin: 10px;
}

form fieldset label {
  margin-right: 30px;
}

form fieldset button {
  background: #87874a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
form fieldset:last-child {
  display: flex;
  justify-content: end;
  padding-right: 35px;
}
input,
label,
button {
  font-size: 20px;
}
